@model IEnumerable<QualitySouvenir.Models.Order>

@{
    ViewData["Title"] = "Order";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h2>Orders</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Full Name
                        <th>
                            Shipping Address
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GST)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SubTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.GrandTotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.City) @Html.DisplayFor(modelItem => item.Country) @Html.DisplayFor(modelItem => item.PostalCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GST)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GrandTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)

                            @if (item.Status == Status.shipped)
                            {
                                <a asp-action="ChangeStatus" asp-route-id="@item.ID">Waitting</a>
                            }
                            else
                            {
                                <a asp-action="ChangeStatus" asp-route-id="@item.ID">Shipped</a>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>