@model PaginatedList<QualitySouvenir.Models.Souvenir>

@{
    ViewData["Title"] = "Products";
}



<div class="container-fluid">
    <p class="indicateNav shadow-sm" style="margin:1% 7%;"><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index"> Home</a> > @ViewData["Title"]</p>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card mt-5">
                <div class="card-header">
                    Categories
                </div>
                @{
                    var categories = (List<Category>)ViewData["Categories"];
                }
                <ul class="list-group list-group-flush">
                    @foreach (var item in categories)
                    {
                        <li class="list-group-item">
                            <a class="alert-light alert-link font-weight-normal" asp-action="Index" asp-route-categoryId=@item.ID asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    Search Price
                </div>
                <form asp-action="Index" method="get">
                    <div class="input-group m-3 w-auto">

                        <input type="number" class="form-control" placeholder="$0" name="minPrice" value="@ViewData["MinPrice"]"/>
                        <div class="input-group-prepend">

                            <span class="input-group-text">~</span>
                        </div>
                        <input type="number" class="form-control" placeholder="$0" name="maxPrice" value="@ViewData["MaxPrice"]"/>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary mb-2 mr-5 ml-5 w-auto">Search Products</button>
               </form>
            </div>
        </div>
        <div class="col-md-8">

            <div class="float-right mt-1">
                <form asp-action="Index" method="get">
                    <div class="input-group mb-2" style="width:500px;">
                        <input type="text" class="form-control" placeholder="Search products" name="searchString"
                               value="@ViewData["CurrentFilter"]">
                        <div class="input-group-append">
                            <button class="btn btn-outline-se" type="submit" value="Search"><i class="fas fa-search"></i></button>
                        </div>
                        <a asp-action="Index" class="alert-light alert-link font-weight-normal ml-4 mt-1">All Products</a>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="alert-light alert-link font-weight-normal ml-4 mt-1">
                            Name
                            <i class="fas fa-sort"></i>
                        </a>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="alert-light alert-link font-weight-normal ml-4 mt-1">
                            Price
                            <i class="fas fa-sort"></i>
                        </a>
                    </div>
                </form>
            </div><br />
            <hr class="mt-4 ml-4" />
            <div class="row">
                @foreach (var item in Model)
                {
                    var imgUrl = @Href(item.Image);
                    var errImg = @Href("/images/main/showcase.jpg");

                    <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                        <div class="card ml-3 pb-1" style="height:355px;width:250px;">
                            <img class="card-img-top" style="width: 100%; height: auto;" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src = '@errImg'">
                            <div class="card-body">
                                <div style="width:270px; text-overflow: ellipsis;">
                                    <a asp-action="Details" asp-route-id="@item.ID" class="alert-link alert-light">@Html.DisplayFor(modelItem => item.Name)</a>
                                </div>
                                <br />
                                <span class="font-weight-bold" style="color:orange">NZD $@Html.DisplayFor(modelItem => item.Price)</span>
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ID" 
                                   asp-route-sortOrder ="@ViewData["CurrentSort"]"
                                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                                   class="alert-light alert-link float-right" title="Add to cart"><i class="fa fa-cart-plus" style="font-size:30px;"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="text-center">
                @*previous and next*@
                @{
                    var preVDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                <a asp-action="Index"
                   asp-route-sortOrder ="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex -1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="mr-3 btn btn-outline-secondary @preVDisabled" style="width:100px;">
                    Previous
                </a>
                <a asp-action="Index"
                   asp-route-sortOrder ="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.PageIndex + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="ml-3 btn btn-outline-secondary @nextDisabled" style="width:100px;">
                    Next
                </a>
            </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>