@model QualitySouvenir.Models.Order

@{
    ViewData["Title"] = "Purchased";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h2><span class="glyphicon glyphicon-saved"></span>Thank you For Your Purchase!</h2>
            <div>
                <h4>The following order will be dispatched as per the details below.</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.User.Email)</dt>
                    <dd>@Html.DisplayFor(model => model.User.Email)</dd>
                    <dt>@Html.DisplayNameFor(model => model.User.Address)</dt>
                    <dd>@Html.DisplayFor(model => model.User.Address)</dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GST)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GST)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.SubTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SubTotal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.GrandTotal)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.GrandTotal)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                    <dd>

                        <table class="table ml-2 mr-2 table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Souvenir</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Total</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderItems)
                                {
                                    var imgUrl = @Href("~" + item.Souvenir.Image);
                                    var errImg = @Href("~/images/main/showcase.jpg");
                                    var unitPrice = (@item.Souvenir.Price) * (@item.Quantity);
                                    <tr>
                                        <th scope="row">
                                            @item.Souvenir.ID
                                        </th>
                                        <td>
                                            <img class="card-img-top" style="width: 30px; height: auto;" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src = '@errImg'">
                                        </td>
                                        <td><a asp-action="Details" asp-route-id="@item.Souvenir.ID" class="alert-link alert-light">@item.Souvenir.Name</a></td>
                                        <td>  @item.Quantity
                                        </td>
                                        <td>NZD$ @item.Souvenir.Price</td>
                                        <td>NZD$ @unitPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="float-right">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <th scope="row">SubTotal:</th>
                                        <td>NZD$ @Model.SubTotal</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">GST(15%):</th>
                                        <td>NZD$ @Model.GST</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">GrandTotal:</th>
                                        <td>NZD$ @Model.GrandTotal</td>
                                    </tr>
                                    <tr></tr>
                                </tbody>
                            </table>

                        </div>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>