@model PaginatedList<QualitySouvenir.Models.Souvenir>

@{
    ViewData["Title"] = "Products";
}


<style>
    div.card 
    {
        overflow: hidden;
    }

    div.card img 
    {
    -webkit-transform: scale(1.0);
    -webkit-transition: 1s;
    }

    div.card img:hover 
    {
        -webkit-transform: scale(1.2);
    }

    li.list-group-item:hover {
        background-color: #f8f9fa;
        font-weight:bold;
        text-align:center;
    }


</style>
<div class="container-fluid">
    <p class="indicateNav shadow-sm" style="margin:1% 7%;"><a class="text-muted" asp-area="" asp-controller="Home" asp-action="Index"> Home</a> > @ViewData["Title"]</p>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="card mt-5">

                @{
                    var categories = (List<Category>)ViewData["Categories"];
                }
                <ul class="list-group list-group-flush">
                    <li class="list-group-item alert-light">
                        <a asp-action="Index" class="alert-light font-weight-normal bg-transparent">All Souvenirs</a>
                    </li>
                        @foreach (var item in categories)
                        {

                        <li class="list-group-item alert-light">                           
                            <a class="alert-link font-weight-normal bg-transparent" asp-action="Index" asp-route-categoryId=@item.ID>
                                @item.Name
                            </a>
                        </li>
                    }
                    </ul>
            </div>

            <div class="card mt-3">
                <div class="card-header">
                    <div class="alert-light bg-light">Search Price</div>
                </div>
                <div class="card-body">
                    <form asp-action="Index" method="get">
                        <div class="input-group m-1 w-auto">
                            <input type="number" class="form-control" placeholder="$0" name="minPrice" value="@ViewData["MinPrice"]"/>
                            <div class="input-group-prepend">

                                <span class="input-group-text">~</span>
                            </div>
                            <input type="number" class="form-control" placeholder="$0" name="maxPrice" value="@ViewData["MaxPrice"]"/>                                    
                        </div>
                        <button type="submit" class="btn btn-outline-secondary mt-2 mr-4 ml-4 w-75"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">

            <div class="float-right mt-1">
                <form asp-action="Index" method="get">
                    <div class="input-group mb-2 alert-light">
                        <input type="text" class="form-control" placeholder="Search by name" name="searchString"
                               value="@ViewData["SearchFilter"]">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit" value="Search"><i class="fas fa-search"></i></button>
                        </div>
                        <a asp-action="Index" class="alert-light alert-link font-weight-normal ml-4 mt-1">All Products</a>
                        <a asp-action="Index" 
                           asp-route-nameSortOrder="@ViewData["NameSortParm"]" 
                           asp-route-categoryId="@ViewData["categoryId"]"
                           asp-route-minPrice="@ViewData["MinPrice"]"
                           asp-route-maxPrice="@ViewData["MaxPrice"]"
                           class="alert-light alert-link font-weight-normal ml-4 mt-1">
                            Name
                            <i class="fas fa-sort"></i>
                        </a>
                        <a asp-action="Index" 
                            asp-route-priceSortOrder="@ViewData["PriceSortParm"]" 
                            asp-route-categoryId="@ViewData["categoryId"]"
                            asp-route-minPrice="@ViewData["MinPrice"]"
                            asp-route-maxPrice="@ViewData["MaxPrice"]"
                            class="alert-light alert-link font-weight-normal ml-4 mt-1">
                            Price
                            <i class="fas fa-sort"></i>
                        </a>
                    </div>
                </form>
            </div><br />
            <hr class="mt-4 ml-4" />
            <div class="row">
                @foreach (var item in Model)
                {
                    var imgUrl = @Href("~"+item.Image);
                    var errImg = @Href("~/images/main/showcase.jpg");

                    <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                        <div class="card pb-1">
                            <img class="card-img-top" style="width: 100%; height: auto;" src="@imgUrl" alt="Souvenir Image" onerror="this.onerror = null; this.src = '@errImg'">
                            <div class="card-body">
                                <div>
                                    <a asp-action="Details" asp-route-id="@item.ID" class="alert-link alert-light">@Html.DisplayFor(modelItem => item.Name)</a>
                                </div>
                                <br />
                                <span class="font-weight-bold" style="color:orange">NZD $@Html.DisplayFor(modelItem => item.Price)</span>
                                <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ID" class="alert-light alert-link float-right" title="Add to cart"><i class="fa fa-cart-plus" style="font-size:30px;"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="text-center">
                @*previous and next*@
                @{
                    var preVDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }
                    <a asp-action="Index"
                       asp-route-nameSortOrder="@ViewData["NameSortParm"]"
                       asp-route-priceSortOrder="@ViewData["PriceSortParm"]"
                       asp-route-searchString="@ViewData["SearchFilter"]"
                       asp-route-minPrice="@ViewData["MinPrice"]"
                       asp-route-maxPrice="@ViewData["MaxPrice"]"
                       asp-route-categoryId="@ViewData["categoryId"]"
                       asp-route-page="@(Model.PageIndex - 1)"                      
                       class="mr-3 btn btn-outline-secondary @preVDisabled" style="width:100px;">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-nameSortOrder="@ViewData["NameSortParm"]"
                       asp-route-priceSortOrder="@ViewData["PriceSortParm"]"
                       asp-route-searchString="@ViewData["SearchFilter"]"
                       asp-route-minPrice="@ViewData["MinPrice"]"
                       asp-route-maxPrice="@ViewData["MaxPrice"]"
                       asp-route-page="@(Model.PageIndex + 1)"
                       asp-route-categoryId="@ViewData["categoryId"]"

                       class="ml-3 btn btn-outline-secondary @nextDisabled" style="width:100px;">
                        Next
                    </a>
                </div>

        </div>
        <div class="col-md-1"></div>
    </div>
</div>
